.span{
    height: 20px;
    width: 20px;
    background-color: red;
}
.div{
    height: 50px;
    width: 200px;
    background-color: red;
}
.header{
    background: darkturquoise;
}
.h1{
    color:blueviolet;
    text-align: center;
    text-decoration-line: initial;
    font-family: "comic sans MS"
}
ul.a {
    list-style-type: square;
}
ul.italica {
    font-style: italic;
}
ul.negrita {
    font-weight: bold;
}
ul.textogrande {
    font-size: 15px;
}
ul.comic {
    font-family: "comic sans MS";
}
h2{
    color: white;
    text-align: center;
}
.Margen{
    margin-top: 10px;
    margin-right: 40px;
    margin-bottom: 10px;
    margin-left: 40px;
}
p{
    color: brown;
}
.bordesRedondeados{
    border-radius: 20px;
}
.parrafo{
    color:cornflowerblue;
    background-color: white;
    border-radius: 10px;
    border-style: initial;
    font-size:larger;
    text-align:center;
}
#Quienessomos {
    background-image: beige;
}
#posicion {
    height: 100px;
    width: 500px;
    background-color: powderblue;
}
#body{
    background-size: cover;
}
.Padding {
    padding: 10px 10px 10px 10px;
}
.plazas {
    color:white;
    text-align:left;
    text-decoration-line:underline;
    font-family: "comic sans MS"
}
.Margenp{
    margin-top: 10px;
    margin-right: 700px;
    margin-bottom: 10px;
    margin-left: 40px;
}
.Contacto{
    color:whitesmoke;
    border-radius: 10px;
    border-style: initial;
    font-size: medium;
    text-align: center;
}
.plazaslista{
    color:cornflowerblue;
    background-color: white;
    border-radius: 10px;
    border-style: initial;
    font-size:medium;
    text-align:center;
}